<div class="modal" id="popupCart">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title tituloModal">MI CARRITO</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <% carrito.forEach(function(producto){ %>
                    <div class="row">
                        <div class="col-3">
                            <!-- IMAGEN DEL PRODUCTO EN EL CARRITO-->
                            <img src="<%= producto.image %>.jpg" height="100" width="100">
                        </div>
                        <div class="col-7">
                            <!-- NOMBRE, CANTIDAD, Y CONTENIDO DEL PRODUCTO -->
                            <p class="itemCarrito"><%= producto.nombre %></p>
                            <p class="itemCarrito"><%= producto.monto %></p>
                            <p class="itemCarrito">Cantidad: <input type="number" min="1" step="1"
                                    class="form-control" id="amountInput" value="1"></p>
                        </div>
                        <div class="col-2">
                            <a href="/carrito-producto-borrar/<%= producto.id %>" type="button" class="btn-close float-end"></a>
                            <p class="precioCarrito"><%= producto.precio %></p>
                        </div>
                    </div>
                    <% }) %>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col">
                        <p class="precio" style="text-align: left;">TOTAL (IVA incluido)</p>
                    </div>
                    <div class="col">
                        <p class="precioF"><%= total %> €</p>
                    </div>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="row">
                    <!-- LINK A LA PÁGINA DEL CARRITO -->
                    <a href="/carrito" class="cartBtn" role="button">Ir al carrito</a>
                </div>
                <div class="row">
                    <button type="button" class="cartBtn">Realizar pedido</button>
                </div>
            </div>
        </div>
    </div>
</div>